.header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header svg {
  margin-left: 12px;
  font-size: 24px;
  vertical-align: middle;
  transform: translateY(-2px);
}

.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 15px;
  width: 200px;
  color: #213547;
  font-size: 18px;
}

.button:hover {
  border-color: #94aabf;
}

.gasBlock {
  background-color: #e3f1f7;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #213547;
  width: 250px;
  height: 320px;
  margin: 20px auto;
}

.gasBlock:hover {
  background-color: #ddf3fb;
  border-color: #b29362;
}

.gasBlock:hover .header svg {
  animation: pulse 1s infinite;
}

.contentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 17px;
}

@keyframes pulse {
  0%,
  100% {
    transform: translateY(-2px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-2px) scale(1.1);
    opacity: 0.85;
  }
}
