.utilitySection {
  color: #213547;
}

.wiseSection {
  color: #b29362;
  margin-left: 12px;
}

.homeSection {
  color: #fcb4bf;
  margin-left: 12px;
}

.homeIcon {
  color: #213547;
  font-size: 35px;
  margin-left: 10px;
  vertical-align: middle;
}
h1 {
  display: inline-flex;
  align-items: center;
}

.utilityContainer {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.householdBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #213547;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  top: 20px;
  right: 180px;
  z-index: 1000;
}

.householdBtn:hover {
  background-color: #ddf3fb;
  color: #213547;
}

.householdBtn .houseUserIcon {
  transform: translateY(-3px);
}

.yearlyUsageContainer {
  padding-top: 12px;
  height: 320px;
  width: 100%;
}

.navMenu {
  height: 60px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
}

.title {
  padding-top: 40px;
  margin-bottom: 10px;
}
