.utility {
  color: #213547;
}

.wise {
  color: #b29362;
  margin-left: 12px;
}

.home {
  color: #fcb4bf;
  margin-left: 12px;
}

.homeIcon {
  color: #213547;
  font-size: 35px;
  margin-left: 10px;
  vertical-align: middle;
}
h1 {
  display: inline-flex;
  align-items: center;
}
.utilityContainer {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* .userName {
  position: absolute;
  top: 3px;
  right: 160px;
  margin: 10px;
  font-size: 24px;
  color: rgb(63, 41, 83);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.userNameItalic {
  font-family: "Great Vibes", cursive;
}

@media (max-width: 768px) {
  .userName {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
} */
